/*=========================
Universal Styling
===========================*/
 
:root {
  --black:#000000;
  --red: #c9050d;
  --white: #ffffff;
  --hover: #F78828;
 }
  
 .body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  min-height: 100vh;
  margin: 0px;
  grid-template-columns: .4fr 2fr 2fr 2fr .4fr;
  grid-template-rows: .1fr .7fr .1fr .1fr repeat(2, .7fr) .1fr;
  display: inline-grid;
  box-sizing: border-box;
  background-color: var(--black);
 }
  
 h1 {
  color: var(--red);
  font-weight: bold;
  font-size: 65px;
 }
  
 h2 {
  color: var(--red);
  font-weight: bold;
  font-size: 45px;
 }
  
 h3 {
  font-weight: bold;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
  
 h4 {
  color: var(--red);
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .poster_text p {
  line-height: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--white);
  font-size: 20px;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: 10px 20px 30px;
 }

 .text p {
  line-height: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--white);
  font-size: 16px;
  top: 50%;
  left: 50%;
  text-align: center;
 }

 .text h3 {
   color: var(--red);
   text-align: center;
 }

 .footer p {
  margin: 0;
}

/* Navigation Styling */

.navigation {
  grid-column: span 5;
  border-bottom: 6px solid var(--red);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
  position: sticky;
  background-color: var(--black);
  top: 0;
}

/* Buttons Styling */
 
.tablinks {
  background-color: var(--red);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: var(--white);
  padding: 20px 40px;
  transition: 0.3s;
  font-size: 25px;
  font-family: Tahoma;
  margin: 0px 6px 0 6px;
  vertical-align: middle;
  text-decoration: none;
}

 .tablinks:hover {
  background-color: var(--hover);
  color: var(--black);
 }

/* Banner Styling */

.banner {
  grid-row: 2 / 3;
  grid-column: span 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
}

.banner_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 100% 22%;
}

/* Container Styling */

.grid_container {
  grid-row: 4 / 7;
  grid-column: 2 / 5;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: var(--white);
}

/* Header Styling */

.header {
  grid-row: 4 / 5;
  grid-column: 2 / 5; 
  align-items: center;
  justify-items: center;
  text-align: center;
  color: var(--red);
  justify-items: center;
  align-items: center;
}

/* Poster Styling */

.poster_image {
  grid-row: 5 / 7;
  grid-column: 2 / 3;
  object-fit: cover;
  width: 100%;
  height: 1000px;
  justify-self: center;
  align-self: top;
  }

.poster_overlay {
  grid-row: 5 / 7;
  grid-column: 2 / 3;
  object-fit: cover;
  justify-self: center;
  width: 100%;
  height: 1000px;
  margin-top: 20px;
  max-height: 100%;
  background: var(--black);
  text-align: center;
  align-content: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 1s;
  animation-duration: 4s;
  animation-iteration-count: 1;
 }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  16% {
   opacity: 1;
  }
  50% {
    opacity: 1;
   }
  84% {
   opacity: 1;
  }
  100% {
   opacity: 0;
  }
}

.poster_overlay:hover  {
  opacity: 1;
  transition-duration: 2s;
}

/* Batman Styling */

.batman_image {
  grid-row: 5 / 6;
  grid-column: 3 / 4;
  object-fit: cover;
  object-position: 80% 0;
  padding: 20px 0 20px 0;
  max-height: 100%;
  width: 100%;
  height: 495px;
}

.batman_overlay {
  grid-row: 5 / 6;
  grid-column: 3 / 4;
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  height: 495px;
  background: var(--black);
  text-align: center;
  align-content: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 4s;
  animation-duration: 4s;
  animation-iteration-count: 1;
 }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  16% {
   opacity: 1;
  }
  50% {
    opacity: 1;
   }
  84% {
   opacity: 1;
  }
  100% {
   opacity: 0;
  }
}

.batman_overlay:hover  {
  opacity: 1;
  transition-duration: 2s;
}

/* Catwoman Styling */

.catwoman_image {
  grid-row: 5 / 6;
  grid-column: 4 / 5;
  object-fit: cover;
  object-position: 50% 0;
  max-height: 100%;
  width: 100%;
  height: 495px;
  padding: 20px 0 20px 0;
}

.catwoman_overlay {
  grid-row: 5 / 6;
  grid-column: 4 / 5;
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  height: 495px;
  background: var(--black);
  text-align: center;
  align-content: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-iteration-count: 1;
 }

 @keyframes fade-in {
  0% {
    opacity: 0;
  }
  16% {
   opacity: 1;
  }
  50% {
    opacity: 1;
   }
  84% {
   opacity: 1;
  }
  100% {
   opacity: 0;
  }
}

.catwoman_overlay:hover  {
  opacity: 1;
  transition-duration: 2s;
}

/* Riddler Styling */

.riddler_image {
  grid-row: 6 / 7;
  grid-column: 3 / 4;
  object-fit: cover;
  object-position:50% 0;
  max-height: 100%;
  width: 100%;
  height: 495px;
  padding-left: 10px;
}

.riddler_overlay {
  grid-row: 6 / 7;
  grid-column: 3 / 4;
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  height: 495px;
  background: var(--black);
  text-align: center;
  align-content: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 13s;
  animation-duration: 4s;
  animation-iteration-count: 1;
 }

 @keyframes fade-in {
  0% {
    opacity: 0;
  }
  16% {
   opacity: 1;
  }
  50% {
    opacity: 1;
   }
  84% {
   opacity: 1;
  }
  100% {
   opacity: 0;
  }
}

.riddler_overlay:hover  {
  opacity: 1;
  transition-duration: 2s;
}

/* Penguin Styling */

.penguin_image {
  grid-row: 6 / 7;
  grid-column: 4 / 5;
  object-fit: cover;
  object-position: 70% 0;
  max-height: 100%;
  width: 100%;
  height: 495px;
}

.penguin_overlay {
  grid-row: 6 / 7;
  grid-column: 4 / 5;
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  height: 495px;
  background: var(--black);
  text-align: center;
  align-content: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 10s;
  animation-duration: 4s;
  animation-iteration-count: 1;
 }

 @keyframes fade-in {
  0% {
    opacity: 0;
  }
  16% {
   opacity: 1;
  }
  50% {
    opacity: 1;
   }
  84% {
   opacity: 1;
  }
  100% {
   opacity: 0;
  }
}

.penguin_overlay:hover  {
  opacity: 1;
  transition-duration: 2s;
}

/* Footer Styling */
 
.footer {
  display: grid;
  grid-row: 7 / -1;
  grid-column: span 5;
  background-color: var(--black);
  color: var(--white);
  border-top: 6px solid var(--red);
  justify-items: center;
  align-items: center;
}

/* Mobile Device Styling */
